
body {
  background-color:#0A223D;
  margin:0 65px;
  font-family: Lato, Helvetica, sans-serif;
}

.login-page {
    display:flex;
}

.site-logo {
  margin-top:100px;
  color:#fff;
  h1{
      font-family: Lato-bold, Helvetica, sans-serif;
      font-style: 700;
      font-size:18px;
      
      @include breakpoint("mobile") {
        font-size:24px;
        margin-bottom:20px;
      }
  }
}

.login-section {
  padding-top:14px;
  padding-left:20px;
  background-color: #146CBE;
  color: #fff;
  width:210px;
  border-radius:10px;
  @include breakpoint("mobile") {
    width:668px;
    padding-left:0px;
  }
  &__title {
      h3{
          font-family: Lato-bold, Helvetica, sans-serif;
          font-size:18px;
          @include breakpoint("mobile") {
            font-size:24px;
            margin-left:75px;
          }
      }
      p {
          font-size:14px;
          @include breakpoint("mobile") {
            font-size:16px;
            margin-left:75px;
            margin-bottom:35px;
          }
      }
  }
  &__form {
    @include breakpoint("mobile") {
      margin-left:75px;
    }
    .login-form {
      width:90%;
      &__username {
        display:flex;
        align-items: center;
        justify-content: space-between;
      }
      &__password {
        margin-top:30px;
        display:flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  
  &__labels {
      display:none;
      @include breakpoint("mobile") {
        display:inline-block;
      }
  }
  &__input {
      padding:5px 20px;
      border-radius:10px;
      font-size:9px;
      @include breakpoint("mobile") {
        width:332px;
        padding:10px 0px 10px 20px;
      }
  }
  &__button {
      font-size:11px;
      background-color:#29BC6E;
      color:#fff;
      height:25px;
      border-radius:10px;
      border:none;
      margin:15px 0px 20px 0px;
      width:104px;
      @include breakpoint("mobile") {
        width:100%;
        height:73px;
        cursor:pointer;
        font-size:16px;
        margin-top:67px;
      }
  }
} 

.how-it-works {
  margin-left:150px;
  &__title {
    color:#fff;
    background-color:#146CBE;
    height:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
    margin-top:-50px;
    width:500px;
    border-radius:10px;
    font-family: Lato-bold, Helvetica, sans-serif;
    font-size:16px;
  }
  &__image-preview {
    background-image:url("/src/assets/images/cat-image.webp");
    background-repeat:no-repeat;
    background-size:cover;
    width:500px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    p {
      text-align: center;
      background-color:#146CBE;
      display:inline-block;
      color:#fff;
      padding:35px;
      border-radius:10px;
      font-size:16px;
      width:300px;
    }
  }
}