.login-form {
  .registration {
    position: relative;
    small {
      position: relative;
      display:block;
      letter-spacing: 1.5px;
    }
  }
  &__email {
    margin-bottom: 30px;
    @include flexSpace;
  }
}
