@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/lato.regular.woff2") format("woff2"), url("/src/assets/fonts/lato.regular.woff") format("woff")
}

@font-face {
    font-family: "Lato-bold";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/lato.bold.woff2") format("woff2"), url("/src/assets/fonts/lato.bold.woff2") format("woff")
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0A223D;
    margin: 0 65px;
    font-family: Lato, Helvetica, sans-serif;
}

.site-logo {
    color: #fff;
    h1 {
        font-style: 700;
        font-size: 18px;
    }
}

.login-section {
    padding-top: 14px;
    padding-left: 20px;
    background-color: #146CBE;
    color: #fff;
    width: 230px;
    &__title {
        h3 {
            font-weight: bold;
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
    &__labels {
        display: none;
    }
    &__input {
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 9px;
    }
    &__button {
        font-size: 11px;
        background-color: #29BC6E;
        color: #fff;
        height: 25px;
        border-radius: 10px;
        border: none;
        margin: 15px 0px 20px 0px;
        width: 104px;
    }
}

#password {
    margin-top: 30px;
}