body {
    background-color:  #0a223d;
}

#square_DragDrop {
    width:  50%;
    padding: 15%;
    background-color: #0a223d;    ;
    border: 7px dashed #fff;
    border-radius: 10px;  
    p {
        color: #fff;
        font-size: 24px;
        text-align: center;
    }
}


@media screen and (max-width: 425px) {
    #square_DragDrop{
        p {
            font-size: 16px;
        }
    }
} 