* {
    box-sizing: border-box;
}

body {
    background: rgb(2,118,131);
    background: linear-gradient(256deg, rgba(2,118,131,0.7903536414565826) 0%, rgba(20,9,191,1) 35%, rgba(102,47,189,0.8995973389355743) 100%); 
}


title {
    font-family: Arial, Helvetica, sans-serif;
}